# Server Configuration
PORT=5000
NODE_ENV=development

# Neon PostgreSQL Database Connection String
DATABASE_URL="postgresql://neondb_owner:npg_g0hZ5NlYmGfa@ep-ancient-sun-22875740-pooler.c-2.us-east-1.aws.neon.tech/tulcan_backend?sslmode=require"

# Allowed Frontend URL for CORS
FRONTEND_URL="http://localhost:3000"
